/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    CSS Reset ends
  */
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  :root {

    /*primary colors*/
    --bg_blue: hsl(233, 47%, 7%);
    --card_blue: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    /*neutral colors*/
    --white: hsl(0, 0%, 100%);
    --heading_white: hsla(0, 0%, 100%, 0.6);
    --paragraph_white: hsla(0, 0%, 100%, 0.75);
    --overlay_accent: hsla(280, 100%, 25%, 0.558);

    /*font-names*/
    --inter: 'Inter', sans-serif;
    --deca: 'Lexend Deca', sans-serif;

    /*font-weights*/
    --normal: 400;
    --bold: 700;

  }

  body {
    display: grid;
    place-content: center;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg_blue);
  }

  main {
    margin: 1.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 34.375rem;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: var(--card_blue);
    transition: width 1.5 ease;
  }

  .card__image__container {
    position: relative;
    width: 100%;
  }

  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card__image__container--overlay::after {
    position: absolute;
    content: " ";
    background-color: var(--overlay_accent);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    text-align: center;
  }

  .card__text__title {
    font-family: var(--inter);
    font-size: 1.75rem;
    font-size: clamp(1.75rem, 6vw, 2.25rem);
    font-weight: var(--bold);
    line-height: 1.22;
    color: var(--white);
  }

  .card__text__title--light {
    background-image: linear-gradient(to right, var(--accent), var(--overlay_accent), var(--overlay_accent), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-color: var(--accent);
    background-size: 60%;
    color: transparent;
    animation: text-color 3s linear infinite alternate-reverse;
  }

  @keyframes text-color {

    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
    
  }

  .card__text__paragraph {
    font-family: var(--inter);
    font-size: 0.9375rem;
    font-weight: var(--normal);
    color: var(--paragraph_white);
    margin-top: clamp(1.5625rem, 4.5vw, 2rem);
    max-width: 40ch;
    margin-bottom: clamp(2rem, 4.5vw, 2.5rem);
    transition: width 1.5 ease;
  }

  .card__text__counts {
    display: flex;
    flex-flow: row wrap;
    gap: clamp(2.5rem, 4.5vw, 3.75rem);
    margin-top: auto;
    line-height: 2rem;
  }

  @media screen and (max-width: 417px) {

    .card__text__counts {
        flex-direction: column;
    }
    
  }

  .card__text__counts__listitem {
    flex-grow: 1;
  }

  .card__text__counts__listitem__heading {
    display: flex;
    flex-direction: column;
    font-family: var(--inter);
    font-size: 1.5rem;
    font-weight: var(--bold);
    color: var(--white);
  }

  .card__text__counts__listitem__paragraph {
    font-family: var(--deca);
    font-size: 0.75rem;
    font-weight: var(--normal);
    letter-spacing: 0.08em;
    color: var(--heading_white);
  }

  @media screen and (min-width: 54.6875rem) {

    .card {
        flex-direction: row-reverse;
        max-width: 69.375rem;
    }

    .card__image__container, .card__text {
        width: 50%;
    }

    .card__text {
        align-items: start;
        text-align: left;
        padding: 4.4375rem clamp(2rem, 4.5vw, 4.4375rem) 3.6875rem 4.4375rem;
    }
    
  }
